[Unit]
Description=Docker Compose Applications
After=docker.service network-online.target
Requires=docker.service

[Service]
User=pedro-barbosa
Group=pedro-barbosa
ExecStart=/bin/bash /home/YOUR_USER_NAME/.dotfiles/docker/up.sh up -d
Restart=no

[Install]
WantedBy=multi-user.target
