[Unit]
Description=Kanata Service
Requires=local-fs.target
After=local-fs.target

[Service]
ExecStart=/usr/bin/kanata -c /home/YOUR_USERNAME/.config/kanata/kanata.kbd
Restart=no

[Install]
WantedBy=sysinit.target
